button {
  color: white;
  padding: 5px 25px;
  border-radius: 3px;
  padding: '5px 25px';
}

.button-primary {
  background-color: darkblue;
  border-color: darkblue;
}

.button-danger {
  background-color: red;
  border-color: red;
}

.button-success {
  background-color: darkgreen;
  border-color: darkgreen;
}

.button-warning {
  background-color: darkorange;
  border-color: darkorange;
}

.button-large {
  padding: 10px 50px;
}

.button-outline {
  border-color: greenyellow;
}

.button-hover:hover {
  background: lightcoral;
}