
.block {
  font-size: 16px;
  font-family: "Helvetica";
  line-height: 1.8;
  font-weight: lighter;
  display: inline-block;
  padding: 18px 23px;
}

.a{background-color: #F1F3F4;}
.b{background-color: #F1F3F4;}
.c{background-color: #F1F3F4;}