.input-with-submit {
  display: flex;
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 1.8;
  font-weight: lighter;
}

.text-field, .text-field:focus {
  outline: none;
  padding: 15px 10px;
  border-right: 0px;
  width: 200px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

}

.submit, .submit-field:focus {
  outline: none;
  color: white;
  background-color:  rgb(51, 160, 255);
  border: solid 1px rgb(51, 160, 255);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100px;
}