.thumbnail-dark-landscape, .thumbnail-light-landscape {
  width: 460px;
  height: 182px;
  border-radius: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.thumbnail-light-landscape {
  background:rgba(231, 231, 2311, 0);
  border: solid rgba(211, 211, 211) 2px;
}

.thumbnail-dark-landscape {
  background:rgb(231, 231, 231);
  border: solid rgb(231, 231, 231) 2px;
  border-radius: 5px;
}

.thumbnail-light-portrait, .thumbnail-dark-portrait {
  height: 349px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.thumbnail-light-portrait {
  background:rgba(255,255,255,0);
  border: solid rgb(211, 211, 211) 2px;
  border-radius: 1%;
}
.thumbnail-dark-portrait {
  background:rgb(231, 231, 231);
  border: solid rgb(231, 231, 231) 2px;
  border-radius: 5px;
}

.pic-light, .pic-dark {
  margin: 10px;
  height: 153px;
  width: 236px;
}

.pic-light {
  background: url(../icons/macBook.svg);
}

.pic-dark {
  background: rgb(231, 231, 231, .8) url(../icons/macBook.svg);
}

.buttons {
  background: rgb(255, 255, 255);
  height: 153px;
  width: 236px;
  opacity: 0;
  display: flex;
  justify-content: center;
}

.buttons:hover {
  opacity: .8;
}

.blue-cart {
  border: 0px;
  background: rgb(51, 160, 255) url(../icons/cart_3.svg);

}
.blue-heart {
  border: 0px;
  background: rgb(51, 160, 255) url(../icons/hearts-1.svg);
} 

.grey-cart{
  border: solid lightblue 2px;
  background: url(../icons/cart_2.svg);
}
.grey-heart {
  border: solid lightblue 2px;
  background: url(../icons/hearts.svg);
} 

.blue-cart, .blue-heart, .grey-cart, .grey-heart {
  background-repeat: no-repeat;
  background-position: center;
  padding: 23px 23px;
  border-radius: 50%;
  margin: 50px 0;
}

.favorite {
  opacity: 0.1;  
}

.favorite:hover {
  opacity: 0.8;
}

.line-portrait {
  border: solid lightgray .4px;
  margin: 0 15px;
}

.line-landscape {
  display: none;
}

.info-portrait, .info-landscape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: lighter;
  font-size: 12px;
  font-family: "Helvetica";
}

.info-portrait {
  text-align: center;
}

.info-landscape {
  text-align: left;
}

.ratings-landscape {
  display: flex;
  justify-content: flex-start;
}

.ratings-portrait {
  display: flex;
  justify-content: center;
}

.new-cost {
  color: #FF4252;
}

.old-cost {
  color: #C1C8CE;
  text-decoration: line-through;
}
